<div class="max-w-full max-h-full">
  <h4 aria-hidden="true">Description</h4>
  <div class="ms-4">
    {% include "components/task-description.html.j2" %}
  </div>
  <div class="flex mt-2">
    <span class="flex-1"></span>
    <button class="flex-none w-32 bg-blue-500 hover:bg-blue-400 rounded shadow">Complete</button>
  </div>
</div>
